%h1 Listing clientes

= link_to 'Nuevo Cliente', new_cliente_path

%table
  %tr
    %th Logo
    %th Link
    %th
    %th

  - @clientes.each do |cliente|
    %tr
      %td= image_tag cliente.logo_url(:thumb)
      %td= cliente.link
      %td= link_to 'Edit', edit_cliente_path(cliente)
      %td= link_to 'Destroy', cliente, :method => :delete, :data => { :confirm => '¿Estás seguro?' }
