%p#notice= notice

%p
  %b Nombre:
  = @servicio.nombre
%p
  %b Icono:
  = @servicio.icono
%p
  %b Descripcion:
  = @servicio.descripcion

= link_to 'Edit', edit_servicio_path(@servicio)
\|
= link_to 'Back', servicios_path
