= form_for @miembro, :html => {:multipart => true} do |f|
  - if @miembro.errors.any?
    #error_explanation
      %h2= "#{pluralize(@miembro.errors.count, "error")} prohibited this miembro from being saved:"
      %ul
        - @miembro.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :apellido
    = f.text_field :apellido
  .field
    = f.label :puesto
    = f.text_field :puesto
  .field
    = f.label :foto
    = f.file_field :foto
  .field
    = f.label :descripcion
    = f.text_area :descripcion, class: 'tinymce'
  .actions
    = f.submit 'Guardar'
