%h1 Listing miembros

- if current_admin
  = link_to 'Nuevo Miembro', new_miembro_path

%table
  %tr
    %th Foto
    %th Nombre
    %th Puesto
    - if current_admin
      %th
      %th

  - @miembros.each do |miembro|
    %tr
      %td= link_to image_tag(miembro.foto_url(:thumb)), miembro
      %td= link_to miembro.nombre , miembro
      %td= miembro.puesto
      - if current_admin
        %td= link_to 'Editar', edit_miembro_path(miembro)
        %td= link_to 'Eliminar', miembro, :method => :delete, :data => { :confirm => '¿Estás seguro?' }


