= encabezado('Staff', '/assets/encabezado.jpg', '/assets/icono-alianzas.png', true)


#region-staff-show.container
  .region
    .region-inner
      = image_tag @miembro.foto_url(:full)

      %h3.title
        = @miembro.nombre
      %h4.subtitle
        = @miembro.puesto

    .region-inner
      = paragraph(raw(@miembro.descripcion))

