= encabezado('Lista de Contactos', '/assets/encabezado.jpg', '/assets/icono-contactos.png', true)
#region-contactos.container
  %table
    %tr
      %th Nombre
      %th Email
      %th Teléfono
      %th Mensaje
      %th
      %th

    - @contactos.each do |contacto|
      %tr
        %td= contacto.nombre
        %td= contacto.email
        %td= contacto.telefono
        %td= contacto.mensaje
        %td= l contacto.created_at, format: :short
        %td
          .admin-control
            = link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'new'
