- content_for :javascript do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBS10UVR-QYWWQilit2l3T-QtarxQERAo4&sensor=false'
  = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'
  = javascript_include_tag 'gmaps_google.js'
  = javascript_include_tag 'underscore.js'
  = javascript_include_tag 'mapa.js'

#contacto-title.container
  .region-title
    %h2.title
      Contacto
      %i.icon_avion

.map-wrapper
  = render '/shared/mapa'

#region-address.container
  %address
    .region-inner
      %h2.title SEDE LIMA
      %ul.icons
        %li
          %i.map_small
          %p
            GRIMALDO DEL SOLAR 231 OF. 101 <br>
            MIRAFLORES, LIMA.
        %li
          %i.phone_small
          %p
            2495227	 | 4455059
        %li
          %i.cellphone_small
          %p
            999857980 | 413*1130
      %br
      %h2.title SEDE ICA
      %ul.icons
        %li
          %i.map_small
          %p
            José Matías Mazanilla 718 - Ica

          %i.phone_small
          %p
            (056) 238152
          %i.cellphone_small
          %p
            991516153



    .region-inner
      %h2.title CORREO ELECTRÓNICO
      %ul.icons
        %li
          %i.contact_small
          %p
            servicioalcliente@laboralmedicalperu.com


#region-form.container
  .region-title
    %h2.title Escríbenos

  .region-inner
    = render 'form'

