
= encabezado('Blog', '/assets/encabezado.jpg', '/assets/icono-blog.png', false)




#region-blog.container
  = admin_create('Nueva Noticia', new_noticia_path)  

  - @noticias.each_slice(1).each_with_index do |noticia, index|
    - if index == 0
      .region.first
        - noticia.each_with_index do |noticia|
          .region-inner.figure
            - if noticia.imagen_url
              = link_to (image_tag noticia.imagen_url(:regular)), noticia

          .region-inner
            %h3.title
              = link_to noticia.titulo , noticia
            %span.date
              10 de julio de 2013
            %span.subtitle
              = noticia.subtitulo
            = paragraph_truncate(noticia.contenido, 200)
            = link_to 'Leer Más', noticia, class: 'btn-more'

          = admin_controls('Editar', edit_noticia_path(noticia), 'down')
          - if current_admin
            = link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }

    - else
      .region
        - noticia.each_with_index do |noticia|
          .region-inner.figure
            = link_to (image_tag noticia.imagen_url(:regular)), noticia

          .region-inner
            %h3.title
              = link_to noticia.titulo , noticia
            %span.date
              10 de julio de 2013
            %span.subtitle
              = noticia.subtitulo
            = paragraph_truncate(noticia.contenido, 200)
            = link_to 'Leer Más', noticia, class: 'btn-more'

          - if current_admin
            = link_to 'Editar', edit_noticia_path(noticia)
            = link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }


