= encabezado('Blog', '/assets/encabezado.jpg', '/assets/icono-blog.png', true)


#region-blog-show.container
  - if current_admin
    .admin-control
      = link_to 'Editar', edit_noticia_path(@noticia), class: 'new'

  .region
    .region-inner
      %h2.title
        = @noticia.titulo
      %span.date
        20 de noviembre 
      %span.subtitle
      = @noticia.subtitulo
    
      = image_tag @noticia.imagen_url(:regular), class: 'image-border img-responsive'

      = paragraph(@noticia.contenido)

    %aside.region.icon
      .region-title
        %h2.title Posts Recientes

      .region-inner
        %i.icon_post
        %h3.title Título
        %span.date 10 de julio 
      .region-inner
        %i.icon_post
        %h3.title Título
        %span.date 10 de julio 
