= form_for @banner, :html => { multipart: true } do |f|
  - if @banner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@banner.errors.count, "error")} prohibited this banner from being saved:"
      %ul
        - @banner.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :imagen
    = f.file_field :imagen
  .field
    = f.label :encabezado
    = f.text_field :encabezado
  .field
    = f.label :link
    = f.text_field :link
  .actions
    = f.submit 'Guardar'
