%h1 Listing banners

= link_to 'Nuevo Banner', new_banner_path

%table
  %tr
    %th Imagen
    %th Encabezado
    %th Link
    %th
    %th

  - @banners.each do |banner|
    %tr
      %td= link_to image_tag(banner.imagen_url(:thumb)), banner.link
      %td= banner.encabezado
      %td= banner.link
      %td= link_to 'Editar', edit_banner_path(banner)
      %td= link_to 'Eliminar', banner, :method => :delete, :data => { :confirm => '¿Estás seguro?' }


