%p#notice= notice

%p
  %b Imagen:
  = @banner.imagen
%p
  %b Encabezado:
  = @banner.encabezado
%p
  %b Link:
  = @banner.link

= link_to 'Edit', edit_banner_path(@banner)
\|
= link_to 'Back', banners_path
