#carousel-generic.carousel.slide

  %ol.carousel-indicators
    - @banners.each_with_index do |banner, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
      - else
        %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index}

  .carousel-inner
    - @banners.each_with_index do |banner, index|
      - if index == 0
        .item.active
          = image_tag banner.imagen_url(:full)
          .carousel-caption
            %p.caption
              = banner.encabezado
            = admin_controls('Editar', edit_banner_path(banner), 'down')
            - if current_admin
              = link_to 'Eliminar', banner, :method => :delete, :data => { :confirm => '¿Estás seguro?' }
      - else
        .item
          = image_tag banner.imagen_url(:full)
          .carousel-caption
            %p.caption
              = banner.encabezado
            = admin_controls('Editar', edit_banner_path(banner), 'down')
            - if current_admin
              = link_to 'Eliminar', banner, :method => :delete, :data => { :confirm => '¿Estás seguro?' }

  -#
    = link_to content_tag(:span, '', class: 'icon-prev'), '#carousel-generic', :'data-banner' => 'prev'
    = link_to content_tag(:span, '', class: 'icon-next'), '#carousel-generic', :'data-banner' => 'next'
