
= render 'bootstrap3_carousel'

%section#home-productos.container
  = admin_create('Nuevo Banner', new_banner_path)
  .region
    .region-inner
      = holder_tag '140x140', '140x140', 'social'
      %h2.title Laboral Medical
      %span.subtitle 
      %p Somos una organización especializada en temas de salud ocupacional, además brindamos capacitaciones y asesorías en temas de selección de personal dirigida al profesional, organizaciones y público en general buscando que nuestros clientes sean cada vez más productivos. Nos destacamos por tener una atención personalizada con cada uno de nuestros clientes y sus colaboradores, convirtiéndonos en sus socios estratégicos.
    .region-inner
      = holder_tag '140x140', '140x140', 'social'
      %h2.title Honestidad, Calidad y Compromiso
      %span.subtitle 
      %p Realizamos nuestro trabajo diario en un ambiente de confianza, traducido en el respaldo, seguridad y credibilidad de nuestros clientes. Estamos comprometidos a ofrecer calidad en el servicio de Salud Ocupacional durante la evaluación de los colaboradores confiados con el propósito de prevenir riesgos en su salud.
    .region-inner
      = holder_tag '140x140', '140x140', 'social'
      %h2.title Alcance
      %span.subtitle 
      %p Además, brindamos servicios de asesoría y consultoría en el área de Gestión de Salud Ocupacional, planeación, diseño, implementación de Tópicos de Salud, Chequeos Médicos Ocupacionales de ingreso, rutina y retiro, despistajes masivos, y capacitaciones.

= render 'shared/siguenos_facebook'


%section#region-clientes.region-alt
  .container
    .region
      .region-title
        %h2.title Clientes
        %span.subtitle Confían en Laboral Medical
        
        - if current_admin
          .admin-control
            = admin_create('Nuevo cliente', new_cliente_path)
      - @clientes.each do |cliente|
        .region-inner
          = link_to image_tag(cliente.logo_url(:thumb)), cliente.link, target: '_blank'
          = admin_controls('Editar', edit_cliente_path(cliente), 'down')
          - if current_admin
            = link_to 'Eliminar', cliente, :method => :delete, :data => { :confirm => '¿Estás seguro?' }
                      


