%ul.social-links.clearfix
  %li
    = link_to content_tag(:i, '', class: 'icon mail'), 'mailto:info@laboralmedicalperu.com'
    = mail_to 'info@laboralmedicalperu.com', 'info@laboralmedicalperu.com', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon location'), new_contacto_path
    %p Grimaldo del Solar #231<br />Of. 101, Miraflores, Lima.
  %li
    = link_to content_tag(:i, '', class: 'icon facebook'), 'https://www.facebook.com/laboralmedicals', target: '_blank'
    = link_to 'FB.com/laboralmedicals', '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon telefono'), new_contacto_path
    %p 2495257 / 4455059 <br />999857980 / 413*1130






