= form_for @alianza, :html => { :multipart => true } do |f|
  - if @alianza.errors.any?
    #error_explanation
      %h2= "#{pluralize(@alianza.errors.count, "error")} prohibited this alianza from being saved:"
      %ul
        - @alianza.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :logo
    = f.file_field :logo
  .field
    = f.label :posicion, 'Posición'
    = f.select :posicion, options_for_select(0..Alianza.all.count)
  .actions
    = f.submit 'Guardar'
