
= encabezado('Alianzas', '/assets/encabezado.jpg', '/assets/icono-alianzas.png', false)


.container
  = admin_create('Nueva Alianza', new_alianza_path)

  #alianzas-descripcion.region
    .region-title
      %h2.title ALIANZAS ESTRATEGICAS

    .region-inner
      %p Para mejor nuestros servicios, Laboral Medical posee fuertes alianzas y convenios con prestigiosas empresas e instituciones.

  #alianzas-logos.region
    - @alianzas.each_slice(4) do |alianza|
      .region
        - alianza.each do |alianza|
          .region-inner
            = image_tag alianza.logo_url(:thumb)
            %h3.title= alianza.nombre
            = admin_controls('Editar', edit_alianza_path(alianza), 'down')
            - if current_admin
              = link_to 'Eliminar', alianza, :method => :delete, :data => { :confirm => '¿Estás seguro?' }
