- @servicios.each do |servicio|
  %li
    .icon-wrapper
      = image_tag servicio.icono_url(:thumb_servicios)
    .text-wrapper
      %h3.title
        = servicio.nombre
      = paragraph(servicio.descripcion)
    = admin_controls('Editar', edit_servicio_path(servicio), 'down')
    - if current_admin
      = link_to 'Eliminar', servicio, :method => :delete, :data => { :confirm => '¿Estás seguro?' }
