= encabezado('Servicios', '/assets/encabezado.jpg', '/assets/icono-servicios.png', false)

#region-fortalezas.container
  .region
    .region-inner
      = image_tag '/assets/fortaleza1.jpg'
      %h3.title Fortaleza 1
    .region-inner
      = image_tag '/assets/fortaleza2.jpg'
      %h3.title Fortaleza 2

    .region-inner
      = image_tag '/assets/fortaleza3.jpg'
      %h3.title Fortaleza 3

#region-servicios.container
  .region
    .region-inner.reel
      %h2.title Reel
      = render 'video'
    .region-inner
      %h2.title Servicios
      - if current_admin
        .admin-control
          = link_to 'Nuevo Servicio', { controller: 'servicios', action: 'new', :categoria_id => 1 }, class: 'new'
      %ul
        = render('lista')
