%nav.navbar.navbar-default{role: "navigation"}
  = render 'shared/social_small'
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'Servicios', ''
      %li
        = link_to 'Consultorías', ''
      %li
        = link_to 'Blog', ''
      %li
        = link_to 'Staff', ''
      %li
        = link_to 'Alianzas', ''
      %li.last
        = link_to 'Contacto', ''
  / /.navbar-collapse
