%nav.navbar.navbar-default{role: "navigation"}
  = render 'shared/social_small'
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      = menu_li('Inicio', 'inicio', root_path)
      = menu_li('Servicios', 'categorias', servicios_path)
      = menu_li('Consultorías', 'categorias', consultorias_path)
      = menu_li('Blog', 'noticias', noticias_path)
      = menu_li('Staff', 'miembros', miembros_path)
      = menu_li('Alianzas', 'alianzas', alianzas_path)
      - if current_admin
        = menu_li('Contacto', 'contactos', contactos_path)
      - else
        = menu_li('Contacto', 'contactos', new_contacto_path)

      - if current_admin
        %li
          = link_to 'Cerrar Sesión', destroy_admin_session_path, :method => :delete
      
  / /.navbar-collapse
