= render 'layouts/html'

%body{id: bodyid, class: bodyclass}
  %header#main-header
    .container
      .region
        .region-inner
          %h1#logo
            = link_to image_tag('logo.png', title: 'Laboral Medical', alt: 'Laboral Medical'), root_path, class: 'navbar-brand'
          = render 'layouts/nav_advanced' 


  #content
    = yield

  %footer#main-footer
    .container
      .region
        .region-title
          %h2.element-invisible Footer
        .region-inner
          = render 'shared/social_large'
          %p.copyright
            LABORAL MEDICAL TODOS LOS DERECHOS RESERVADOS 2013.

  = javascript_include_tag 'application'
  = yield :javascript
