= render 'layouts/html'

%body{id: bodyid, class: bodyclass}
  %header#main-header
    .container
      .region
        .region-inner
          %h1#logo
            = link_to image_tag('logo.png', title: 'Laboral Medical', alt: 'Laboral Medical'), root_path, class: 'navbar-brand'
          = render 'layouts/nav_advanced' 


  #content
    = yield

  = javascript_include_tag 'application'
  = yield :javascript
